# Python Libraries
pandas
requests
beautifulsoup4

# LLM
langchain
sentence-transformers
langchain-groq

# VDB
faiss-cpu

# Web Framework
streamlit

# Additional Dependencies
markdown
getpass
html2text
